/* Nord Theme */

@import "/css/nord.css";

/* Body styles */
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #ECEFF4;
  color: #3B4252;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--nord0);
  padding-top: 10px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}




/* Dark mode styles */
body.dark {
  background-color: var(--nord0);
  color: var(--nord4);
}

/* Common styles for light and dark themes */
.logo {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  transition: all 0.3s ease 0s;
}

a:hover,
a:focus {
  color: var(--nord4);
  text-decoration: none;
  outline: 0 none;
}

.jumbotron {
    margin-top: 0 !important;
    background-color: #D8DEE9; 
}

.my-4 {
  color: var(--nord10);
}

.btn {
  transition: all 0.3s ease 0s;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  }


.btn-outline-secondary {
  color: var(--nord8);  /* This should be your desired text color */
  border: 1px solid var(--nord8);  /* This should be your desired border color */
  border-color: var(--nord8);  /* The border color */
  background-color: transparent;
  transition: all 0.3s ease 0s;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
 }

 .btn-primary {
  background-color: var(--nord10);  /* Replace with your desired color or variable */
  border-color: var(--nord9);  /* Replace with your desired border color or variable */
  color: var(--nord4);  /* Replace with your desired text color or variable */
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus {
  background-color: var(--nord9);  /* Replace with your desired hover background color or variable */
  border-color: var(--nord10);  /* Replace with your desired hover border color or variable */
  color: var(--nord4);  /* Replace with your desired hover text color or variable */
}



.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active,
.btn-outline-secondary:active:focus {
  background-color: var(--nord9);  /* The hover background color */
  color: #ECEFF4;  /* The hover text color */
 
}

/* Responsive Adjustments */
@media (max-width: 576px) {
  .btn-outline-secondary {
    width: 100%;  /* Let the button take the full width on very small screens */
    margin-bottom: 10px; /* Adds space between stacked buttons */
  }
}

/* Responsive Adjustments */
@media (max-width: 576px) {
  .btn-primary {
    width: 100%;  /* Let the button take the full width on very small screens */
    margin-bottom: 10px; /* Adds space between stacked buttons */
  }
}

.btn-submit {
  background-color: var(--nord14);
  border: 0;
  height: 48px;
}

.btn-submit:hover,
.btn-submit:focus,
.btn-submit:active,
.btn-submit:active:focus {
  background-color: var(--nord7);
}


.title {
  overflow: hidden;
  margin-bottom: 20px;
}

.title h2,
.title h3 {
  position: relative;
}

.title h3::before,
.title h3::after {
  content: "";
  height: 2px;
  position: absolute;
  bottom: 8px;
}

.title.light h3 {
  color: var(--nord6);
}

.title.light h3::before {
  background-color: var(--nord6);
}

.list-item {
  border-bottom: 1px solid var(--nord6);
  padding: 10px 0;
}

.list-item:last-child {
  border-bottom: none;
}

.list-item a {
  text-decoration: none;
  color: var(--nord7);
  font-weight: 600;
}

.list-item a:hover {
  color: var(--nord10);
}

.primary {
  color: var(--nord10);
}

.submit {
  color: var(--nord8);
}

.secondary {
  color: var(--nord7);
}

.media img {
  width: 35px;
  height: 35px;
}


.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

.content-wrapper {
  display: block;
  width: 100%;
  margin-top: 5%;
}

@media only screen and (max-width: 767px) {
  .content-wrapper {
    display: block;
  }
}

.site-wrapper {
  border-top: 4px solid var(--nord10);
}

.page-close {
  font-size: 30px;
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 100;
}

.page-title {
  margin-bottom: 75px;
}

.page-title img {
  margin-bottom: 20px;
}

.page-title h2 {
  font-size: 68px;
  margin-bottom: 25px;
  font-weight: 900;
  text-transform: uppercase;
}

.page-title .title-bg {
  color: var(--nord2);
  font-size: 158px;
  left: 0;
  letter-spacing: 10px;
  line-height: 0.7;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: -1;
  transform: translateY(-50%);
}

.page-nav {
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  right: 0;
}

.page-nav span {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  text-transform: uppercase;
}

.contact-block {
  background-color: var(--nord6);
  padding: 20px;
  margin-left: 0px;
  margin-top: 20px;
  max-width: 100%;
}

.author-desc p {
  line-height: 1.5;
  margin-bottom: 10px;
}

.about-author figure.thumbnail {
  margin-right: 20px;
}

.about-author figure.thumbnail:last-child {
  margin-right: 0;
}

.research-list,
.service-list {
  padding: 0;
}

.my-custom-margin {
  margin-top: 50px;
}

.contact-social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.contact-social li {
  display: inline-block;
  margin-right: 5px;
}

.contact-social a {
  font-size: 18px;
  color: var(--nord10);
  background-color: var(--nord7);
  border-radius: 5px;
  padding: 10px 20px;
}

.contact-social li a:hover {
  background-color: var(--nord4);
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid var(--nord4);
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  width: 100%;
}

h4 {
  text-align: center;
}

/* Card styles */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 2px 16px;
}

.card-title {
  color: var(--nord7);
}

.list-group-item {
  border: none;
  padding: 10px 0;
}

.list-group-item a {
  color: var(--nord9);
  text-decoration: none;
}

.list-group-item a:hover {
  text-decoration: underline;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

/* Theme switch styles */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--nord4);
  transition: .4s;
}

.theme-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--nord2);
  transition: .4s;
}

.theme-switch input:checked + .theme-slider {
  background-color: var(--nord8);
}

.theme-switch input:focus + .theme-slider {
  box-shadow: 0 0 1px var(--nord8);
}

.theme-switch input:checked + .theme-slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.theme-slider.round {
  border-radius: 34px;
}

.theme-slider.round:before {
  border-radius: 50%;
}

/* Dark mode specific styles */
body.dark {
  background-color: var(--nord0);
  color: var(--nord6);
}

.container.bg-light {
  background-color: var(--nord7);
  color: #2E3440;
}

body.dark .container.bg-light {
  background-color: #434C5E;
  color: var(--nord7);
}

body.dark a {
  color: var(--nord6);
}

body.dark .navbar {
  background-color: #434C5E;
}

body.dark .navbar a {
  color: var(--nord10);
}

body.dark .navbar a:hover {
  color: var(--nord7);
}

body.dark .navbar-light .navbar-nav .nav-link,
body.dark .navbar-light .navbar-nav .nav-link:hover {
  color: var(--nord2) !important;
}

body.dark .navbar-light .navbar-nav .dropdown-menu {
  background-color: var(--nord2);
}

body.dark .navbar-light .navbar-nav .dropdown-menu a.dropdown-item {
  color: var(--nord0) !important;
}


body.dark .card-body {
  background-color: var(--nord2);
  border: 1px solid var(--nord6);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  padding: 20px;
}

body.dark .card {
  background-color: var(--nord2); /* Darker background color for the cards to distinguish them from the container */
  color: var(--nord4); /* Light gray color for the card's text */
  border-color: var(--nord1); /* A border to make the card distinct */
}

body.dark .jumbotron {
  background-color: var(--nord1);
}


.contact-social.dark a {
  font-size: 18px;
  color: var(--nord1);
  background-color: var(--nord7);
  border-radius: 5px;
  padding: 10px 20px;
}

.contact-social.dark a:hover {
  background-color: var(--nord10);
}

.navbar-toggler-icon .bar {
  display: block;
  width: 100%;
  height: 0.2rem;
  background-color: var(--nord9);
  margin: 0.3rem 0;
}


.image-container {
  padding: 20px;
  border: 2px solid var(--nord4);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.image-3d {
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out;
}

.image-3d:hover {
  transform: scale(1.05) rotateX(5deg) rotateY(5deg);
}

.thumbnail-3d,
.contact-block-3d {
  float: left;
  margin-right: 20px;
}

.text-content {
  float: none;
}

@media (max-width: 768px) {
  .btn-read-more {
    white-space: normal !important;
  }
}

.secondary {
  color: var(--nord7) !important;
}

body.dark .secondary {
  color: var(--nord7) !important;
}

body.dark .primary {
  color: var(--nord9) !important;
}


/* Form styles */
.form-wrapper {
  width: 80%;
  margin: auto;
  padding: 20px;
  background: var(--nord7);
  box-shadow: 0px 0px 10px var(--nord4);
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input,
select,
button {
  margin-top: 5px;
}




@media (max-width: 767px) {
  .button-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

/* Responsive styles */
@media screen and (max-width: 767px) {
  .form-wrapper {
    padding: 10px;
  }
}

/* Dark mode styles */
.dark-mode .form-group label {
  color: var(--nord6);
}

.dark-mode .form-page input,
.dark-mode .form-page select,
.dark-mode .form-page textarea {
  background-color: var(--nord0);
  color: var(--nord6);
}

.dark .darkable {
  color: var(--nord6);
  background-color: var(--nord3);
}

body.dark .darkable {
    background-color: var(--nord2); /* Dark Background */
    color: var(--nord6); /* Light Text */
}



.social-icons .fab, .social-icons .fas {
  color: var(--nord8)/* or any color you want */
}

.monospace {
  font-family: 'Courier New', monospace;
}

/* For devices with a max width of 576px (Bootstrap's breakpoint for extra small devices) */
@media (max-width: 576px) {
  h1.display-5 {
      font-size: 24px;  /* Adjust this value based on your needs */
      letter-spacing: -0.5px;  /* Adjust as needed */
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column; 
  height: 100%;
}

.card-body {
  flex: 1; /* This will make the card body take up all available space, pushing any footer content to the bottom */
}
